[submodule "shell/.etc/zsh/ext/zsh-completions"]
	path = shell/.etc/zsh/ext/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shell/.etc/zsh/ext/zsh-autosuggestions"]
	path = shell/.etc/zsh/ext/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
