[submodule "zsh/.zsh/ext/zsh-completions"]
	path = terminal/.etc/zsh/ext/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.zsh/ext/zsh-autosuggestions"]
	path = terminal/.etc/zsh/ext/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
