[submodule "zsh/.zsh/ext/zsh-completions"]
	path = zsh/.zsh/ext/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/.vim/cache/repos/github.com/Shougo/dein.vim"]
	path = vim/.vim/cache/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
